body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
 
  

  .filter-control {
      text-align: center;
      margin-bottom: 45px;
      padding-top: 32px;
  }
  
  .filter-control ul li {
      list-style: none;
      display: inline-block;
      font-size: 20px;
      color: #b2b2b2;
      margin-right: 22px;
      position: relative;
      cursor: pointer;
  }
  
  .filter-control ul li.active {
      color: #171717;
  }
  
  .filter-control ul li.active:before {
      opacity: 1;
  }
  
  .filter-control ul li:before {
      position: absolute;
      left: 0;
      bottom: -3px;
      width: 100%;
      height: 2px;
      background: #171717;
      content: "";
      opacity: 0;
  }
  
  .filter-control ul li:last-child {
      margin-right: 0;
  }
  
  .product-slider .owl-nav button[type=button] {
      font-size: 30px;
      position: absolute;
      left: -62px;
      top: 25%;
      color: #171717;
      opacity: 0.3;
  }
  
  .product-slider .owl-nav button[type=button].owl-next {
      left: auto;
      right: -62px;
      color: #171717;
      opacity: 1;
  }
  
  
  
  .product-item .pi-pic ul li a {
      font-size: 16px;
      font-weight: 700;
      color: #252525;
      display: block;
      padding: 16px 18px 12px 19px;
  }
  
  .product-item .pi-text {
      text-align: center;
      padding-top: 26px;
  }
  
  .product-item .pi-text .catagory-name {
      font-size: 10px;
      color: #b2b2b2;
      font-weight: 700;
      letter-spacing: 2px;
      text-transform: uppercase;
      margin-bottom: 10px;
  }
  
  .product-item .pi-text a {
      display: block;
  }
  
  .product-item .pi-text a h5 {
      color: #252525;
  }
  
  .product-item .pi-text .product-price {
      color: #e7ab3c;
      font-size: 20px;
      font-weight: 700;
  }
  
  .product-item .pi-text .product-price span {
      font-size: 14px;
      font-weight: 400;
      color: #b2b2b2;
      text-decoration: line-through;
  }
  
 
 
  /*---------------------
    Product Shop
  -----------------------*/
  
  .product-shop {
      padding-top: 80px;
      padding-bottom: 80px;
  }
  
  .filter-widget {
      margin-bottom: 45px;
  }
  
  .filter-widget .fw-title {
      color: #252525;
      font-size: 22px;
      font-weight: 700;
      margin-bottom: 26px;
  }
  
  .filter-widget .filter-catagories li {
      list-style: none;
  }
  
  .filter-widget .filter-catagories li a {
      display: inline-block;
      color: #636363;
      font-size: 16px;
      line-height: 39px;
  }
  
  .filter-widget .fw-brand-check .bc-item {
      margin-bottom: 3px;
  }
  
  .filter-widget .fw-brand-check .bc-item label {
      position: relative;
      cursor: pointer;
      padding-left: 28px;
  }
  
  .filter-widget .fw-brand-check .bc-item label input {
      position: absolute;
      visibility: hidden;
  }
  
  .filter-widget .fw-brand-check .bc-item label input:checked~span {
      background: #e7ab3c;
      border-color: #e7ab3c;
  }
  
  .filter-widget .fw-brand-check .bc-item label .checkmark {
      position: absolute;
      left: 0;
      top: 5px;
      height: 15px;
      width: 15px;
      border: 2px solid #ebebeb;
      border-radius: 2px;
  }
  
  .filter-widget .fw-brand-check .bc-item label .checkmark:after {
      left: 0;
      top: 0;
      width: 10px;
      height: 8px;
      border: solid white;
      border-width: 3px 3px 0px 0px;
      -webkit-transform: rotate(127deg);
      -ms-transform: rotate(127deg);
      transform: rotate(127deg);
  }
  
  .filter-widget .filter-range-wrap {
      margin-bottom: 40px;
  }
  
  .filter-widget .filter-range-wrap .range-slider {
      margin-bottom: 25px;
  }
  
  .filter-widget .filter-range-wrap .range-slider .price-input {
      position: relative;
  }
  
  .filter-widget .filter-range-wrap .range-slider .price-input:after {
      position: absolute;
      left: 58px;
      top: 13px;
      height: 1px;
      width: 17px;
      background: #ebebeb;
      content: "";
  }
  
  .filter-widget .filter-range-wrap .range-slider .price-input input {
      font-size: 16px;
      color: #252525;
      max-width: 20%;
      text-align: center;
      border: 1px solid #ebebeb;
      border-radius: 2px;
  }
 
  .checkmark:after {
      position: absolute;
      content: "";
  }
  
  .product-show-option {
      margin-bottom: 30px;
  }
  
  
  .tab-item ul li a.active:before {
      opacity: 1;
  }
  
  .tab-item ul li a::before {
      position: absolute;
      left: 0;
      top: -1px;
      width: 100%;
      height: 5px;
      background: #e7ab3c;
      content: "";
      opacity: 0;
  }
  

  



  /* product detail page */

 



/* login */

.loginform p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.loginform h2 {
    font-size: 30px;
    margin: 30px 0px;
    text-transform: uppercase;
    font-weight: normal;
    text-align: center;
}
.loginform input{
    width: 100%;
    margin-bottom: 30px;

}
.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    position: absolute;
    top: -55px;
    left: 0px;
    right: 0px;
    border: 6px solid #e6e6e6;
}
.avatar img {
    width: 100%;
    height: auto;
}
.loginform input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #1e5220;
    background: transparent;
    outline: none;
    height: 40px;
    color: #333;
    font-size: 16px;
}
.loginform input[type="submit"] {
    background: #4CAF50;
    color: #fff;
    font-size: 20px;
    padding: 7px 15px;
    border-radius: 20px;
    transition: 0.4s;
    border: none;
}
.loginform input[type="submit"]:hover {
    cursor: pointer;
    background: #1f5822;
}
.loginform a {
    text-decoration: none;
    font-size: 15px;
    line-height: 20px;
    color: #1e5220;
}
.loginform .have-not {
    float: right;
}
.loginform a:hover {
    color: #4caf50;
}

/*-- Responsive CSS --*/
@media(max-width: 576px) {
.loginform {
    width: 90%;
}
.loginform a {
    display: block;
    text-align: center;
    float: inherit !important;
    margin: 10px 0px;
}
}